<h2>{{model.title}}</h2>
{{#each model.matches as |match|}}
  <div class="match">
    <h2>Match {{match.index}}</h2>
    <h4>{{match.band1.name}} vs. {{match.band2.name}}</h4>
  </div>
{{/each}}

{{outlet}}
