<h2>{{model.title}}</h2>
{{#each model.matches as |match|}}
  <div class="match">
    <div class="time">
      <p>{{match.time}}</p>
    </div>
    <div class="location">
      <p>{{match.location}}</p>
    </div>
    <div class="matchup">
      {{match-band match=match number=1}}
      <h4>vs.</h4>
      {{match-band match=match number=2}}
    </div>
  </div>
{{/each}}

{{outlet}}
