<h2>{{model.round.title}}</h2>
{{#each matchesWithInfo as |match|}}
  <div class="match">
    <div class="info">
      <div class="time">
        {{#if canEdit}}
          {{input type="datetime" value=match.time placeholder="Enter date/time" focus-out=(action "saveMatch" match)}}
        {{else}}
          <p>{{match.time}}</p>
        {{/if}}
      </div>
      <div class="location">
        {{#if canEdit}}
          {{textarea value=name value=match.location focus-out=(action "saveMatch" match) placeholder="Enter Location info"}}
        {{else}}
          <p>{{match.location}}</p>
        {{/if}}
      </div>
    </div>
    <div class="matchup">
      {{match-band match=match round=model.round number=1 bands=model.bands}}
      <span>vs.</span>
      {{match-band match=match round=model.round number=2 bands=model.bands}}
    </div>
    {{#unless canEdit}}
    {{#unless selectingSpot}}
    <div class="expand-info">
      <a {{action "toggleInfo"}}>
        {{#if infoOpen}}
          [close]
        {{else}}
          [info]
        {{/if}}
      </a>
    </div>
    {{/unless}}
    {{/unless}}
  </div>
  {{#if showRoundInfo}}
    <div class="round-info">
      {{#if selectingSpot}}
        <p>Before you choose this spot, make sure you're available for the following rounds:</p>
      {{/if}}
      {{#each match.info as |upcomingMatch|}}
        <div class="upcoming-round">
          <h4>
            {{upcomingMatch.round.title}}
            {{#if canEdit}}
              , match {{upcomingMatch.index}}
            {{/if}}
          </h4>
          <div class="info">
            <p>{{upcomingMatch.time}}</p>
            <p>{{upcomingMatch.location}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
{{/each}}
{{outlet}}
