{{#if canEdit}}
  {{input class="score" value=score action="updateScore" on="key-up"}}
{{else}}
  <h4>{{score}}</h4>
{{/if}}
{{#unless (eq match.round.id '1')}}
  <h4 class="band-name">{{band.name}}</h4>
{{else}}
  {{ember-selectize
    content=bands
    optionValuePath="content.id"
    optionLabelPath="content.name"
    placeholder="switch band"
    name="band"
    select-item="updateBand"
    value=band
  }}
{{/unless}}
{{yield}}
