{{#if canEditScore}}
  {{input class="score" value=score action="updateScore" on="key-up"}}
{{else}}
  <h4 class="score">{{score}}</h4>
{{/if}}
<div class="band-name">
  {{#if canSelect}}
    <a {{action "chooseSpot"}}>
      [choose spot]
    </a>
  {{else if canEdit}}
    {{ember-selectize
      content=bands
      optionValuePath="content.id"
      optionLabelPath="content.name"
      placeholder="switch band"
      name="band"
      select-item="updateBand"
      value=selectedBandId
    }}
    {{#if band.name}}
      <a {{action "clear"}}>
        [clear]
      </a>
    {{/if}}
  {{else}}
    <h4>{{band.name}}</h4>
  {{/if}}
</div>
{{yield}}
